h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#gallery_5616e585 div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 25%; height: auto; padding: 10px;  } 
#gallery_5616e585 div.galleryimgcontainer img {  width: 100%; border: 1px solid #A0A0A0; border: 1px solid #A0A0A0;  } 
@media only screen and (max-width:550px) { #gallery_5616e585 div.galleryimgcontainer { width: 33%; } } 
@media only screen and (max-width:420px) { #gallery_5616e585 div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:320px) { #gallery_5616e585 div.galleryimgcontainer { width: 100%; } } 
#menu_16feeedf a { text-decoration: none; }
#menu_16feeedf_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_16feeedf_hr { background-color: #646464; height: 1px; border: none; }
#menu_16feeedf_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_16feeedf_entry:hover { background-color: #FFFFFF; color: #000000 !important; }
#menu_16feeedf_entry:hover span { color:#000000 !important; }
		.menu_16feeedf_mainMenuEntry { text-align: center; }
		.menu_16feeedf_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_16feeedf_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_16feeedf .mobileEntry { display: none; } 
		#menu_16feeedf .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_16feeedf .mobileEntry { display: block; } 
			#menu_16feeedf .normalEntry { display: none; } 
		}
body { background-color:#8D8288; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_4d3010c9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; min-width:200px; background-color:#FEFEDC; background: linear-gradient(to bottom, #B074C4, #FEFEDC);  }
#container_4d3010c9_padding { margin: 10px; display: block;  }
#text_3c89489e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { text-align:left; }
.textstyle3 { font-size:20pt; font-family:'Times New Roman', Times, serif; color:#000000; font-style:italic; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle4 { font-size:13pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#container_470ac4dd { vertical-align: top; position:relative; display: inline-block; width:69%; min-height:33px; background:none;  }
#container_470ac4dd_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:10pt; font-family:'Times New Roman', Times, serif; color:#000000;  }
#container_3bd38d17 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background-color:#2C2825;  }
#container_3bd38d17_padding { margin: 10px; display: block;  }
#menu_16feeedf { vertical-align: top; position:relative; display: inline-block; width:540px; height:18px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:100px; height:18px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle6 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style3 { position:absolute; width:100px; height:18px; left:110px;  }
.style4 { position:absolute; width:100px; height:18px; left:210px;  }
.style5 { position:absolute; width:108px; height:18px; left:310px;  }
.style6 { position:absolute; width:113px; height:18px; left:418px;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_341793ed { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:176px; background-color:#FFFFFF; background-image: url(rc_images/wilmington_de_cityscape1.jpg); background-position:center center; background-size:cover;  }
#container_341793ed_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#placeh_61bd2509 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#C0C0C0;  }
#container_78bff89b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:235px; max-width:800px; background:none;  }
#container_78bff89b_padding { margin: 10px; display: block;  }
#heading_24f5362d { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:16pt; font-family:'Times New Roman', Times, serif; color:#000000; text-align:left; font-style:italic;  }
.textstyle10 { font-size:16pt; font-family:'Times New Roman', Times, serif; color:#000000; font-style:italic; line-height: 1.5;  }
.textstyle11 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; line-height: 1.5;  }
#img_62cf37c8 { vertical-align: bottom; position:relative; display: inline-block; float:left; margin:10px 20px 20px 10px;width:22%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235); height:auto;  }
#gallery_5616e585 { overflow:hidden; box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%;  }
#container_53797471 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:52px; background:none;  }
#container_53797471_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#container_6598e7fb { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:20px; background-color:#000000;  }
#container_6598e7fb_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 450px)
{
		#menu_16feeedf { width:100px;  }
}
@media only screen and (max-width: 400px)
{
		#text_3c89489e * span { font-size:14pt;  }
}
